body {
    background-color: #5b92e5;
    font-family: Arial;
}

#form {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -50%;
    text-align: center;
}

#preview {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 50 50 0;
    text-align: center;
    color: #FFC285;
}

input[name="countryInput"] {
    margin: 0 auto;
    width: 50%;
    font-size: 2em;
    font-weight: bold;
}

input[type="submit"] {
    display: none;
}
